.instructions, .letter-inputs {
  margin-bottom: 30px;
}

.greens input, .yellows input {
  width: 50px;
  text-align: center;
}

.greens input {
  background-color: #c6eec2;
}

.yellows input {
  background-color: #e9e0ba;
}

.grays input {
  background-color: #cccccc;
}