.panel {
  width: 600px;
}

.instructions, .letter-inputs {
  margin-bottom: 30px;
}

.letter-inputs input {
  text-transform: uppercase;
}

.greens input, .yellows input {
  width: 50px;
  text-align: center;
}

.greens input {
  background-color: #c6eec2;
}

.yellows input {
  background-color: #e9e0ba;
}

.grays input {
  background-color: #cccccc;
}

.word {
  font-family: monospace;
  text-transform: uppercase;
}

#choice .word {
  font-size: 125%;
}

#choice {
  margin-bottom: 25px;
}
