{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Wordle Solver{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'wordle/css/main.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">

      <h2 id="title">Wordle Solver</h2>

      <section class="panel panel-shrink">
        <div class="panel-heading">
          <h4>Hints</h4>
        </div>
        <form class="panel-body" method="post" action="{% url 'wordle:guess' %}">
          {% csrf_token %}
          <div class="panel-body">
            <p class="instructions">
              Fill in the hints you've gained from your guesses.
            </p>
            <div class="letter-inputs greens">
              <label>Greens</label>
              <p>Enter each green letter you've found in the right place.</p>
              {% for i in word_length_range %}
                <input type="text" name="green{{ i }}">
              {% endfor %}
            </div>
            <div class="letter-inputs yellows">
              <label>Yellows</label>
              <p>
                  Enter each yellow letter you've found in the right place. You can put multiple
                  letters in the same box, if they appeared in the same position.
              </p>
              {% for i in word_length_range %}
                <input type="text" name="yellow{{ i }}">
              {% endfor %}
            </div>
            <div class="letter-inputs grays">
              <label>Grays</label>
              <p>Enter all the gray letters you've found.</p>
              <input type="text" name="grays">
            </div>
            <div class="buttons">
              <button class="btn btn-default" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </section>

    </div>
{% endblock content %}
